{% extends 'base.html' %}
{% load static %}
{% block title %}usuario-{{ request.user.username.title }}{% endblock  %}
{% block content %}
<body>
   <!--logo de bem vindo -->
   <header class="py-5 bg-image-full" style="background-image: url('{% static 'images/primeira_tela_fundo.jpg'%}');">
      <div class="text-center my-5">
         <h1 class="text-white fs-3 fw-bolder">Bem-Vindo, {{ request.user.username.title }} </h1>
      </div>
   </header>
   <!-- end -->
   <!--tabela e paginação de agendamentos ja cadastrados, visiveis ao usuario -->
   <section class="pagination">
      <div class="container my-5">
         <table class="table">
                  <h1 style="text-align: center;">Agendamentos cadastrados</h1>
            <thead>
               <tr>
               <th>Status</th>
               <th>Nome do Pet</th>
               <th>Data Agendada</th>
               <th>Horario</th>
               </tr>
            </thead>
            {% for task in tasks %}
            {% if task.done == 'pendente' %}
            <li class="task-item">
               {% else %}
            <li class="task-item done">
               {% endif %}
               <tbody>
                  <tr>
                  <td>{{task.done}}</td>
                  <td>{{task.name}}</td>
                  <td>{{task.appointment_date}}</td>
                  <td>{{task.hours}}</td>
                    
                  </tr>
               </tbody>
            </li>
            {% endfor %}
         </table>
         <ul class="pagination">
            {% if tasks.has_previous %}
            <li class="page-item">
               <a class="page-link" href="?page={{ tasks.previous_page_number }}" aria-label="Previous"> 
               <span aria-hidden="true">
               Anterior
               </span>
               </a>
            </li>
            {% endif %}
            <li class="page-item">
               {{ tasks.number }} de {{ tasks.paginator.num_pages }}
            </li>
            {% if tasks.has_next %}
            <li class="page-item">
               <a class="page-link" href="?page={{ tasks.next_page_number }}" aria-label="Next">
               <span aria-hidden="true">
               Proximo
               </span>
               </a>
            </li>
            {% endif %}          
         </ul>
      </div>
   </section>
   <!--end-->
   <!-- segunda imagem de fundo-->
   <div class="py-5 bg-image-full" style="background-image: url('{% static 'images/segunda_tela_fundo.jpg'%}');">
      <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
      <div style="height: 20rem"></div>
   </div>
   <!--end-->
   <!-- Serviço de agendamento de consulta-->
   <section class="py-5">
      <div class="container my-5">
         <div class="row justify-content-center">
            <div class="col-lg-6">
               <h2>Conheça nosso serviço veterinario.</h2>
               <p class="lead">Nosso serviço conta com os melhores profissionais na area.</p>
               <a href="{% url 'cadastro' %}" class="button button-border button-circle button-dark">Agende uma consulta</a>
            </div>
         </div>
      </div>
   </section>
   <!--end-->
   <!-- Serviço de agendamento de consulta-->
   <section class="py-5">
      <div class="container my-5">
         <div class="row justify-content-center">
            <div class="col-lg-6">
               <h2>Venha conhecer nossos Produtos</h2>
               <p class="lead">Conheça nossos diversos produtos para seus bichinhos.</p>
               <a href="{% url 'loja' %}" class="button button-border button-circle button-dark">Visite nossa loja</a>
            </div>
         </div>
      </div>
   </section>
   <!--end-->
{% include 'footer.html' %}
</body>
{% endblock %}