{% extends 'base.html' %}
{% load static %}
{% block title %}Loja{% endblock  %}


{% block content %}
<body>
   <section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<!-- Shop
					============================================= -->
					<div id="shop" class="shop row grid-container gutter-30 has-init-isotope" data-layout="fitRows" style="position: relative; height: 2167.44px;">

						<div class="product col-md-4 col-sm-6 col-12" style="position: absolute; left: 0%; top: 0px;">
							<div class="grid-inner">
								<div class="product-image">
									<a href="#"><img src="images/shop/dress/1.jpg" alt="Checked Short Dress"></a>
									<a href="#"><img src="images/shop/dress/1-1.jpg" alt="Checked Short Dress"></a>
									<div class="sale-flash badge bg-secondary p-2">Out of Stock</div>
									<div class="bg-overlay">
										<div class="bg-overlay-content align-items-end justify-content-between animated fadeOut" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
											<a href="#" class="btn btn-dark me-2"><i class="icon-shopping-cart"></i></a>
											<a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax"><i class="icon-line-expand"></i></a>
										</div>
										<div class="bg-overlay-bg bg-transparent"></div>
									</div>
								</div>
								<div class="product-desc">
									<div class="product-title"><h3><a href="#">Checked Short Dress</a></h3></div>
									<div class="product-price"><del>$24.99</del> <ins>$12.49</ins></div>
									<div class="product-rating">
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star-half-full"></i>
									</div>
								</div>
							</div>
						</div>

						<div class="product col-md-4 col-sm-6 col-12" style="position: absolute; left: 33.3317%; top: 0px;">
							<div class="grid-inner">
								<div class="product-image">
									<a href="#"><img src="images/shop/pants/1-1.jpg" alt="Slim Fit Chinos"></a>
									<a href="#"><img src="images/shop/pants/1.jpg" alt="Slim Fit Chinos"></a>
									<div class="bg-overlay">
										<div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
											<a href="#" class="btn btn-dark me-2"><i class="icon-shopping-cart"></i></a>
											<a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax"><i class="icon-line-expand"></i></a>
										</div>
										<div class="bg-overlay-bg bg-transparent"></div>
									</div>
								</div>
								<div class="product-desc">
									<div class="product-title"><h3><a href="#">Slim Fit Chinos</a></h3></div>
									<div class="product-price">$39.99</div>
									<div class="product-rating">
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star-half-full"></i>
										<i class="icon-star-empty"></i>
									</div>
								</div>
							</div>
						</div>

						<div class="product col-md-4 col-sm-6 col-12" style="position: absolute; left: 66.6634%; top: 0px;">
							<div class="grid-inner">
								<div class="product-image">
									<div class="fslider" data-arrows="false">
										<div class="flexslider">
											
										<div class="flex-viewport" style="overflow: hidden; position: relative; height: 388.844px;"><div class="slider-wrap" style="width: 1000%; transition-duration: 0s; transform: translate3d(-291px, 0px, 0px);"><div class="slide clone" aria-hidden="true" style="width: 291.984px; margin-right: 0px; float: left; display: block;"><a href="#"><img src="images/shop/shoes/1-2.jpg" alt="Dark Brown Boots" draggable="false"></a></div>
												<div class="slide flex-active-slide" style="width: 291.984px; margin-right: 0px; float: left; display: block;" data-thumb-alt=""><a href="#"><img src="images/shop/shoes/1.jpg" alt="Dark Brown Boots" draggable="false"></a></div>
												<div class="slide" data-thumb-alt="" style="width: 291.984px; margin-right: 0px; float: left; display: block;"><a href="#"><img src="images/shop/shoes/1-1.jpg" alt="Dark Brown Boots" draggable="false"></a></div>
												<div class="slide" data-thumb-alt="" style="width: 291.984px; margin-right: 0px; float: left; display: block;"><a href="#"><img src="images/shop/shoes/1-2.jpg" alt="Dark Brown Boots" draggable="false"></a></div>
											<div class="slide clone" style="width: 291.984px; margin-right: 0px; float: left; display: block;" aria-hidden="true"><a href="#"><img src="images/shop/shoes/1.jpg" alt="Dark Brown Boots" draggable="false"></a></div></div></div><ol class="flex-control-nav flex-control-paging"><li><a href="#" class="flex-active">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="">3</a></li></ol></div>
									</div>
									<div class="bg-overlay">
										<div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
											<a href="#" class="btn btn-dark me-2"><i class="icon-shopping-cart"></i></a>
											<a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax"><i class="icon-line-expand"></i></a>
										</div>
										<div class="bg-overlay-bg bg-transparent"></div>
									</div>
								</div>
								<div class="product-desc">
									<div class="product-title"><h3><a href="#">Dark Brown Boots</a></h3></div>
									<div class="product-price">$49</div>
									<div class="product-rating">
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star-empty"></i>
										<i class="icon-star-empty"></i>
									</div>
								</div>
							</div>
						</div>

						<div class="product col-md-4 col-sm-6 col-12" style="position: absolute; left: 0%; top: 541.859px;">
							<div class="grid-inner">
								<div class="product-image">
									<a href="#"><img src="images/shop/dress/2.jpg" alt="Light Blue Denim Dress"></a>
									<a href="#"><img src="images/shop/dress/2-2.jpg" alt="Light Blue Denim Dress"></a>
									<div class="bg-overlay">
										<div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
											<a href="#" class="btn btn-dark me-2"><i class="icon-shopping-cart"></i></a>
											<a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax"><i class="icon-line-expand"></i></a>
										</div>
										<div class="bg-overlay-bg bg-transparent"></div>
									</div>
								</div>
								<div class="product-desc">
									<div class="product-title"><h3><a href="#">Light Blue Denim Dress</a></h3></div>
									<div class="product-price">$19.95</div>
									<div class="product-rating">
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star-empty"></i>
									</div>
								</div>
							</div>
						</div>

						<div class="product col-md-4 col-sm-6 col-12" style="position: absolute; left: 33.3317%; top: 541.859px;">
							<div class="grid-inner">
								<div class="product-image">
									<a href="#"><img src="images/shop/sunglasses/1.jpg" alt="Unisex Sunglasses"></a>
									<a href="#"><img src="images/shop/sunglasses/1-1.jpg" alt="Unisex Sunglasses"></a>
									<div class="sale-flash badge bg-success p-2 text-uppercase">Sale!</div>
									<div class="bg-overlay">
										<div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
											<a href="#" class="btn btn-dark me-2"><i class="icon-shopping-cart"></i></a>
											<a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax"><i class="icon-line-expand"></i></a>
										</div>
										<div class="bg-overlay-bg bg-transparent"></div>
									</div>
								</div>
								<div class="product-desc">
									<div class="product-title"><h3><a href="#">Unisex Sunglasses</a></h3></div>
									<div class="product-price"><del>$19.99</del> <ins>$11.99</ins></div>
									<div class="product-rating">
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star-empty"></i>
										<i class="icon-star-empty"></i>
									</div>
								</div>
							</div>
						</div>

						<div class="product col-md-4 col-sm-6 col-12" style="position: absolute; left: 66.6634%; top: 541.859px;">
							<div class="grid-inner">
								<div class="product-image">
									<a href="#"><img src="images/shop/tshirts/1.jpg" alt="Blue Round-Neck Tshirt"></a>
									<a href="#"><img src="images/shop/tshirts/1-1.jpg" alt="Blue Round-Neck Tshirt"></a>
									<div class="bg-overlay">
										<div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
											<a href="#" class="btn btn-dark me-2"><i class="icon-shopping-cart"></i></a>
											<a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax"><i class="icon-line-expand"></i></a>
										</div>
										<div class="bg-overlay-bg bg-transparent"></div>
									</div>
								</div>
								<div class="product-desc">
									<div class="product-title"><h3><a href="#">Blue Round-Neck Tshirt</a></h3></div>
									<div class="product-price">$9.99</div>
									<div class="product-rating">
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star-half-full"></i>
										<i class="icon-star-empty"></i>
									</div>
								</div>
							</div>
						</div>

						<div class="product col-md-4 col-sm-6 col-12" style="position: absolute; left: 0%; top: 1083.72px;">
							<div class="grid-inner">
								<div class="product-image">
									<a href="#"><img src="images/shop/watches/1.jpg" alt="Silver Chrome Watch"></a>
									<a href="#"><img src="images/shop/watches/1-1.jpg" alt="Silver Chrome Watch"></a>
									<div class="bg-overlay">
										<div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
											<a href="#" class="btn btn-dark me-2"><i class="icon-shopping-cart"></i></a>
											<a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax"><i class="icon-line-expand"></i></a>
										</div>
										<div class="bg-overlay-bg bg-transparent"></div>
									</div>
								</div>
								<div class="product-desc">
									<div class="product-title"><h3><a href="#">Silver Chrome Watch</a></h3></div>
									<div class="product-price">$129.99</div>
									<div class="product-rating">
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star-half-full"></i>
									</div>
								</div>
							</div>
						</div>

						<div class="product col-md-4 col-sm-6 col-12" style="position: absolute; left: 33.3317%; top: 1083.72px;">
							<div class="grid-inner">
								<div class="product-image">
									<a href="#"><img src="images/shop/shoes/2.jpg" alt="Men Grey Casual Shoes"></a>
									<a href="#"><img src="images/shop/shoes/2-1.jpg" alt="Men Grey Casual Shoes"></a>
									<div class="sale-flash badge bg-success p-2 text-uppercase">Sale!</div>
									<div class="bg-overlay">
										<div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
											<a href="#" class="btn btn-dark me-2"><i class="icon-shopping-cart"></i></a>
											<a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax"><i class="icon-line-expand"></i></a>
										</div>
										<div class="bg-overlay-bg bg-transparent"></div>
									</div>
								</div>
								<div class="product-desc">
									<div class="product-title"><h3><a href="#">Men Grey Casual Shoes</a></h3></div>
									<div class="product-price"><del>$45.99</del> <ins>$39.49</ins></div>
									<div class="product-rating">
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star-half-full"></i>
										<i class="icon-star-empty"></i>
										<i class="icon-star-empty"></i>
									</div>
								</div>
							</div>
						</div>

						<div class="product col-md-4 col-sm-6 col-12" style="position: absolute; left: 66.6634%; top: 1083.72px;">
							<div class="grid-inner">
								<div class="product-image">
									<div class="fslider" data-arrows="false">
										<div class="flexslider">
											
										<div class="flex-viewport" style="overflow: hidden; position: relative; height: 389.281px;"><div class="slider-wrap" style="width: 1000%; transition-duration: 0s; transform: translate3d(-291px, 0px, 0px);"><div class="slide clone" aria-hidden="true" style="width: 291.984px; margin-right: 0px; float: left; display: block;"><a href="#"><img src="images/shop/dress/3-2.jpg" alt="Pink Printed Dress" draggable="false"></a></div>
												<div class="slide flex-active-slide" style="width: 291.984px; margin-right: 0px; float: left; display: block;" data-thumb-alt=""><a href="#"><img src="images/shop/dress/3.jpg" alt="Pink Printed Dress" draggable="false"></a></div>
												<div class="slide" data-thumb-alt="" style="width: 291.984px; margin-right: 0px; float: left; display: block;"><a href="#"><img src="images/shop/dress/3-1.jpg" alt="Pink Printed Dress" draggable="false"></a></div>
												<div class="slide" data-thumb-alt="" style="width: 291.984px; margin-right: 0px; float: left; display: block;"><a href="#"><img src="images/shop/dress/3-2.jpg" alt="Pink Printed Dress" draggable="false"></a></div>
											<div class="slide clone" style="width: 291.984px; margin-right: 0px; float: left; display: block;" aria-hidden="true"><a href="#"><img src="images/shop/dress/3.jpg" alt="Pink Printed Dress" draggable="false"></a></div></div></div><ol class="flex-control-nav flex-control-paging"><li><a href="#" class="flex-active">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="">3</a></li></ol></div>
									</div>
									<div class="bg-overlay">
										<div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
											<a href="#" class="btn btn-dark me-2"><i class="icon-shopping-cart"></i></a>
											<a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax"><i class="icon-line-expand"></i></a>
										</div>
										<div class="bg-overlay-bg bg-transparent"></div>
									</div>
								</div>
								<div class="product-desc">
									<div class="product-title"><h3><a href="#">Pink Printed Dress</a></h3></div>
									<div class="product-price">$39.49</div>
									<div class="product-rating">
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star-empty"></i>
										<i class="icon-star-empty"></i>
									</div>
								</div>
							</div>
						</div>

						<div class="product col-md-4 col-sm-6 col-12" style="position: absolute; left: 0%; top: 1625.58px;">
							<div class="grid-inner">
								<div class="product-image">
									<a href="#"><img src="images/shop/pants/5.jpg" alt="Green Trousers"></a>
									<a href="#"><img src="images/shop/pants/5-1.jpg" alt="Green Trousers"></a>
									<div class="sale-flash badge bg-success p-2 text-uppercase">Sale!</div>
									<div class="bg-overlay">
										<div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
											<a href="#" class="btn btn-dark me-2"><i class="icon-shopping-cart"></i></a>
											<a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax"><i class="icon-line-expand"></i></a>
										</div>
										<div class="bg-overlay-bg bg-transparent"></div>
									</div>
								</div>
								<div class="product-desc">
									<div class="product-title"><h3><a href="#">Green Trousers</a></h3></div>
									<div class="product-price"><del>$24.99</del> <ins>$21.99</ins></div>
									<div class="product-rating">
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star-half-full"></i>
										<i class="icon-star-empty"></i>
									</div>
								</div>
							</div>
						</div>

						<div class="product col-md-4 col-sm-6 col-12" style="position: absolute; left: 33.3317%; top: 1625.58px;">
							<div class="grid-inner">
								<div class="product-image">
									<a href="#"><img src="images/shop/sunglasses/2.jpg" alt="Men Aviator Sunglasses"></a>
									<a href="#"><img src="images/shop/sunglasses/2-1.jpg" alt="Men Aviator Sunglasses"></a>
									<div class="bg-overlay">
										<div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
											<a href="#" class="btn btn-dark me-2"><i class="icon-shopping-cart"></i></a>
											<a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax"><i class="icon-line-expand"></i></a>
										</div>
										<div class="bg-overlay-bg bg-transparent"></div>
									</div>
								</div>
								<div class="product-desc">
									<div class="product-title"><h3><a href="#">Men Aviator Sunglasses</a></h3></div>
									<div class="product-price">$13.49</div>
									<div class="product-rating">
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star-empty"></i>
									</div>
								</div>
							</div>
						</div>

						<div class="product col-md-4 col-sm-6 col-12" style="position: absolute; left: 66.6634%; top: 1625.58px;">
							<div class="grid-inner">
								<div class="product-image">
									<a href="#"><img src="images/shop/tshirts/4.jpg" alt="Black Polo Tshirt"></a>
									<a href="#"><img src="images/shop/tshirts/4-1.jpg" alt="Black Polo Tshirt"></a>
									<div class="bg-overlay">
										<div class="bg-overlay-content align-items-end justify-content-between not-animated" data-hover-animate="fadeIn" data-hover-speed="400" style="animation-duration: 400ms;">
											<a href="#" class="btn btn-dark me-2"><i class="icon-shopping-cart"></i></a>
											<a href="include/ajax/shop-item.html" class="btn btn-dark" data-lightbox="ajax"><i class="icon-line-expand"></i></a>
										</div>
										<div class="bg-overlay-bg bg-transparent"></div>
									</div>
								</div>
								<div class="product-desc">
									<div class="product-title"><h3><a href="#">Black Polo Tshirt</a></h3></div>
									<div class="product-price">$11.49</div>
									<div class="product-rating">
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
										<i class="icon-star3"></i>
									</div>
								</div>
							</div>
						</div>

					</div><!-- #shop end -->

				</div>
			</div>
		</section>
</body>
{% endblock %}