{% extends 'base.html' %}
{% load static %}
{% block title %}Loja-Categorias{% endblock  %}


{% block content %}
<html lang="en">

    <body>
        <!-- Header-->
        <header class="bg-dark py-5" style="background-image: url('{% static 'images/paisagem_ecommerce.jpg'%}');">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder" style="color: white;">Conheça nossos Produtos</h1>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
			<h1 style="text-align: center;">Categoria de Produtos </h1>
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
					{% if data %}
						{% for product in data %}
						<div class="col mb-5">
							<div class="card h-100">
								<!-- Product image-->
								<img class="card-img-top" src="/media/{{product.image}}" alt="{{product.title}}" />
								<!-- Product details-->
								<div class="card-body p-4">
									<div class="text-center">
										<h5 class="fw-bolder">{{product.title}}</h5>
									</div>
								</div>
								<!-- Product actions-->
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/produtos_detalhes/{{product.id}}/">Clique aqui</a></div>
								</div>
							</div>
						</div>
						{% endfor %}
					{% endif %}
                </div>
            </div>
        </section>
{% include 'footer.html' %}
    </body>
</html>

{% endblock %}