{% extends 'base.html' %}
{% load static %}
{% block title %}Detalhes do Produto{% endblock  %}

{% block content %}

<html lang="en">
   <body>
      <!-- Navigation-->

      <!-- Product section-->
      <section class="py-5">
         <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
               <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"  src="/media/{{data.image}}" alt="{{data.title}}" /></div>
               <div class="col-md-6">
                  <h1 class="display-5 fw-bolder">{{data.title}}</h1>
                  <div class="fs-5 mb-5">
                     <span >R$ {{data.productattribute_set.first.price}}</span>
                  </div>
                  <div class="input-group my-3" style="width:48%;">
                     <input type="number" value="1" class="form-control product-qty-{{data.id}}" id="productQty" />
                     <div class="input-group-append">
                        <!--<input type="hidden" class="product-image-{{data.image}}" value="{{data.image}}" />-->
                        <input type="hidden" class="product-id-{{data.id}}" value="{{data.id}}" />
                        <input type="hidden" class="product-title-{{data.id}}" value="{{data.title}}" />
                        <input type="hidden" class="product-price-{{data.id}}" value="{{data.productattribute_set.first.price}}" />
                        <button class="btn btn-outline-dark add-to-cart" data-index="{{data.id}}" type="button" id="addToCartBtn"><i class="icon-line-shopping-cart"></i> Adicione a Sacola</button>
                     </div>
                  </div>
                  <p class="lead">{{data.detail }}</p>
                  <div class="tab-container">
                     <div class="tab-content clearfix ui-tabs-panel ui-corner-bottom ui-widget-content" id="tabs-2" aria-labelledby="ui-id-2" role="tabpanel" aria-hidden="false" style="display: block;">

                        <table class="table table-striped table-bordered">
                           <tbody>
                              <tr>
                                 <td>Peso</td>
                                 <td>{{data.size.title}}</td>
                              </tr>
                              <tr>
                                 <td>Marca</td>
                                 <td>{{data.brand.title}}</td>
                              </tr>

                           </tbody>
                        </table>
                       
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Related items section-->
      <section class="py-5 bg-light">
         <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Related products</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
               <div class="col mb-5">
                  {% for p_attr in data.productattribute_set.all%}
                  <div class="card h-100">
                     <!-- Product image-->
                     <img class="card-img-top" src="/media/{{data.image}}" alt="..." />
                     <!-- Product details-->
                     <div class="card-body p-4">

                        <div class="text-center">
                           <!-- Product name-->
                           <h5 class="fw-bolder">{{p_attr.product.title}}</h5>
                           <!-- Product price-->
                           {{p_attr.size.title}}
                        </div>

                     </div>
                     <!-- Product actions-->
                     <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                     </div>
                  </div>
                  {% endfor %}

               </div>
            </div>
         </div>
      </section>

   </body>
   {% include 'footer.html' %}
<script src="{% static 'js/custom.js' %}"></script>
</html>

{% endblock %}