<section id="content">
			<div class="content-wrap">
				<div class="container">
					<h3>total de produtos({{totalitems}})</h3>
					<table class="table cart mb-5">
						<thead>
							<tr>
								<th class="cart-product-remove delete-item" data-item="{{product.id}}" >&nbsp;</th>
								<th class="cart-product-thumbnail">&nbsp;</th>
								<th class="cart-product-name">Produto</th>
								<th class="cart-product-price">Preço por unidade</th>
								<th class="cart-product-quantity">Quantidade</th>
								<th class="cart-product-subtotal">Soma das unidades</th>
								
							</tr>
						</thead>

						<tbody>
                            {% for product_id,item in cart_data.items  %}
							<tr class="cart_item">
								<td class="cart-product-remove">
									<a href="#" class="remove" title="Remove this item"><i class="icon-trash2"></i></a>
								</td>

								<td class="cart-product-thumbnail">
									<a href="/loja-produtos/{{item.title|slugify}}/{{product.id}}"><img width="80" height="80" src=/media/{{item.image}} alt="Pink Printed Dress"></a>
								</td>

								<td class="cart-product-name">
									<a href="/produtos_detalhes/{{product.id}}">{{item.title}}</a>
								</td>

								<td class="cart-product-price">
									<span class="amount">${{item.price}}</span>

								</td>

								<td class="cart-product-quantity">
									<div class="quantity">
										<input type="button" value="-" class="minus">
										<input type="text" name="quantity" value="{{item.qty}}" class="qty">
										<input type="button" value="+" class="plus">
									</div>
								</td>

								<td class="cart-product-subtotal">
									<!--pega o valor do produto e com 1(soma) com a quantidade de produtos-->
									<span class="amount">$ {% widthratio item.price 1 item.qty %}</span>
								</td>
							</tr>
                            {% endfor %}
							<tr class="cart_item">
								<td colspan="6">
									<div class="row justify-content-between py-2 col-mb-30">

										<div class="col-lg-auto pe-lg-0">
											<a href="#" class="button button-3d m-0">Update Cart</a>
											<a href="shop.html" class="button button-3d mt-2 mt-sm-0 me-0">Proceed to Checkout</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="col-lg-6">
							<h4>Valores calculados:</h4>

							<div class="table-responsive">
								<table class="table cart cart-totals">
									<tbody>
										<tr class="cart_item">
											<td class="cart-product-name">
												<strong>Soma de todos os produtos</strong>
											</td>

											<td class="cart-product-name">
												<span class="amount">${{total_amt}}</span>
											</td>
										</tr>
										<tr class="cart_item">
											<td class="cart-product-name">
												<strong>Valor total a pagar</strong>
											</td>

											<td class="cart-product-name">
												<span class="amount color lead"><strong>${{total_amt}}</strong></span>
											</td>
										</tr>
									</tbody>

								</table>
							</div>
						</div>
				</div>
			</div>
		</section>